/** Search form */
.search-form {
  @extend .input-group;
}

.search-form label {
  font-weight: normal;
}

.search-form .search-field {
  @extend .input-group-field;
}

.search-form .search-submit {
  @extend .button;
  @extend .secondary;
}

/** Gravity Forms **/
.tfr-form-container {
  padding: $xx-jumbo;
  background-color: $primary-color;
  border-radius: 4px;

  label,
  .gform_confirmation_message {
    color: $white;
  }

  input,
  textarea {
    box-shadow: none;
    border: 2px solid $secondary-color;

    &[type=submit] {
      background-color: $gold;
      border: 0;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
