.fifty-fifty {
  .cell {
    position: relative;
    padding: 4.768rem;

    h2 {
      color: $dark-color;
      margin-bottom: $large;
    }

    .button {
      margin-top: $small;
      font-weight: bold;
      padding-left: $x-large;
      padding-right: $x-large;

      &:not(.hollow) {
        color: $white;
      }
    }

    @include breakpoint(xxlarge) {
      padding: 7.451rem;
    }

    @include breakpoint(shmedium down) {
      padding: $x-jumbo;
    }

    &.light {
      background: $light-color;
    }

    &.medium {
      background: $medium-color;
      color: $white;

      h2 {
        color: $white;
      }
    }

    &.dark {
      background: $dark-color;
      color: $white;

      h2 {
        color: $white;
      }
    }

    &.image {
      padding: 0;
      align-self: stretch;

      .row__image {
        width: 100%;
        height: 100%;
        background-size: cover;
        padding: 4.768rem;
        min-height: 300px;

        @include breakpoint(shmedium down) {
          padding: $x-jumbo;
        }
      }
    }
  }
}
