.cta {
  position: relative;
  background-color: $primary-color;

  &__content {
    color: $white;
    position: relative;
    z-index: 1;
  }

  &-modal {
    text-transform: uppercase;
    margin-top: $xx-large;
  }
}
