.hero-nav {
  background-size: cover;
  background-position: bottom;
  position: relative;
  margin: 0;
  height: 768px;
  width: 100%;
  overflow: hidden;

  .parallax-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
    margin: 0;
    padding: 0;
  }

  &__video {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: 0;

    @include breakpoint(large) {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    position: fixed;
    z-index: 1;
    color: $white;
    margin-top: $xx-jumbo * 2;
    text-shadow: 0 0 4px rgba($black, 0.45);

    h1 {
      position: relative;
      z-index: 0;
      text-transform: uppercase;
    }

    &-text {
      position: relative;
      z-index: 0;
      margin-top: 0 !important;
    }

    .cell {
      position: relative;
      z-index: 0;
      margin-bottom: 0;
    }

    @include breakpoint(medium) {
      z-index: 1;
      top: $x-jumbo;
      left: 0;
      width: 100%;

      h1 {
        font-size: $xx-jumbo;
      }
    }

    @media all and (max-width: 1236px) {
      left: 0 !important;
    }

    @include breakpoint(large) {
      margin-top: 7%;
      left: calc(100vw - (1236px + ((100vw - 1236px) / 2)));

      *:not(h1) {
        font-size: $large;
      }
    }
  }

  &__overlay-image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      position: absolute;
      left: 50%;
      bottom: $xx-jumbo * -1;
      transform: translateX(-50%);
      min-width: 1024px;
      width: 100%;
      height: auto;
    }

    @include breakpoint(large) {
      bottom: 0;
      min-width: 2000px;
    }
  }

  &__button {
    position: absolute;
    left: 50%;
    bottom: 25%;
    z-index: 2;
    color: $white;
    text-shadow: 0 0 4px rgba($black, 0.45);
    transform-style: preserve-3d;
    transform: translateX(-50%);

    @include breakpoint(medium) {
      z-index: 1;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);

      h1 {
        font-size: $xx-jumbo;
      }
    }

    //@media all and (max-width: 1236px) {
    //  left: 0 !important;
    //}

    @include breakpoint(large) {
      margin-top: 7%;
      left: 50%;
      transform: translateX(-50%);

      *:not(h1) {
        font-size: $large;
      }
    }
  }

  @include breakpoint(medium) {
    height: 1054px;
    padding: 0;
  }

  @include breakpoint(xlarge) {
    height: 1175px;
  }

  @media all and (min-width: 1975px) {
    height: 0;
    min-height: 0;
    padding-bottom: 56.4%;
  }
}
