.lp-hero {
  position: relative;
  min-height: 500px;

  .grid-container {
    position: relative;
    z-index: 0;
  }

  .content-container {
    color: $white;

    h1 {
      margin-bottom: 1rem;
    }

    .ph-cta {
      display: inline-block;

      span {
        display: block;
      }

      &__label {
        font-size: $small;
        color: $white;
        line-height: 0.2;
      }

      &__number {
        font-size: $x-large;
        color: get-color(accent);
      }

      &:hover {
        .ph-cta__number {
          color: darken(get-color(accent), 15);
        }
      }
    }

    .button {
      margin-bottom: 0;
      font-weight: bold;
      padding-left: $x-large;
      padding-right: $x-large;

      &:not(.hollow) {
        color: $white;
      }
    }
  }

  .form-container {
    background: $white;
    padding: $x-jumbo;
    border-radius: 30px 30px 0 0;

    h3 {
      color: $dark-color;
      text-align: center;
      line-height: 1.024;
    }

    .gfield {
      padding-right: 0 !important;

      label {
        font-size: $small;
        font-weight: normal;
      }

      input {
        padding-left: 22.5px !important;
        border-radius: 5000px;
        border-color: $medium-gray;
      }
    }

    .gform_footer {
      input[type=submit] {
        background: get-color(accent);
        border-radius: 5000px;
        font-weight: bold;

        &:hover {
          background: darken(get-color(accent), 15);
        }

        @include breakpoint(gfmobile up) {
          min-width: 50%;
        }
      }
    }

    @include breakpoint(shmedium down) {
      padding: $xx-large;
    }
  }

  &.image {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $dark-color;
      opacity: 0.75;
      z-index: 0;
    }
  }

  &.dark {
    background: $dark-color;
  }

  &.light {
    .form-container {
      background: $dark-color;

      h3 {
        color: $white;
      }

      .gfield {
        label {
          color: $white;
        }
      }
    }

    .content-container {
      color: $dark-color;

      .ph-cta {
        &__label {
          color: $dark-color;
        }
      }
    }
  }

  &.has-form {
    .content-container {
      padding-top: $x-jumbo;
    }

    @include breakpoint(medium up) {
      padding-top: 7.451rem;
    }
  }

  &:not(.has-form) {
    padding-top: $x-jumbo;
    padding-bottom: $x-jumbo;
  }

  @include breakpoint(medium down) {
    min-height: 300px;
  }
}
