.lp-faq {
  padding-top: 5.96rem;
  padding-bottom: 5.96rem;

  .content-container {
    h2 {
      text-align: center;
      color: $dark-color;
      margin-bottom: $xx-large;
    }

    .lead {
      text-align: center;
      margin-bottom: $xx-large;
    }

    .faq-list {
      margin-bottom: $xx-large;
      background: transparent;

      .accordion-item {
        border: 1px solid transparent;

        &:not(:last-of-type) {
          border-bottom-width: 8px;
        }

        .accordion-title {
          border-radius: 0;
          background: $dark-color;
          color: $white;
          border: 0;

          h3 {
            max-width: calc(100% - #{$xx-jumbo});
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background: $medium-color;
            width: $xx-jumbo;
            height: 100%;
            z-index: 0;
          }

          &::before {
            color: $medium-color;
            right: calc(#{$xx-jumbo} / 2);
            transform: translate(50%, -50%);
            text-align: center;
            line-height: 1.1;
            font-size: $xx-large;
            font-weight: bold;
            font-family: sans-serif;
            width: $jumbo;
            height: $jumbo;
            background: $white;
            border-radius: 5000px;
            margin: 0;
            z-index: 1;
          }
        }

        .accordion-content {
          border: 0;
          padding: $xx-jumbo;
          padding-bottom: calc(#{$xx-jumbo} - 8px);
        }

        &.is-active {
          .accordion-title {
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  .button-container {
    text-align: center;

    .button {
      margin-bottom: 0;
      font-weight: bold;
      padding-left: $x-large;
      padding-right: $x-large;

      &:not(.hollow) {
        color: $white;
      }
    }
  }

  &.light {
    background: $light-color;
  }

  &.medium {
    background: $medium-color;

    .content-container {
      color: $white;

      h2 {
        color: $white;
      }

      .accordion-item {
        .accordion-title {
          background: $white;
          color: $dark-color;

          &::after {
            background: $dark-color;
          }

          &::before {
            color: $dark-color;
          }
        }
      }
    }
  }

  &.dark {
    background: $dark-color;

    .content-container {
      color: $white;

      h2 {
        color: $white;
      }

      .accordion-item {
        .accordion-title {
          background: $white;
          color: $medium-color;

          &::after {
            background: $medium-color;
          }

          &::before {
            color: $medium-color;
          }
        }
      }
    }
  }
}
