.landing-page-banner {
  position: fixed;
  width: 100%;
  background: $white;
  z-index: 1000;

  .site-brand {
    &__logo {
      display: inline-block;
      font-size: $jumbo;

      img {
        max-height: $xx-jumbo;
        width: auto;
      }
    }
  }

  .ph-cta {
    span {
      display: block;
      line-height: 1;
      text-transform: uppercase;
      font-family: $header-font-family;
    }

    &__label {
      font-size: $normal;
    }

    &__number {
      font-size: $x-large;
      color: get-color(accent);
    }
  }

  &.dark {
    background: $dark-color;

    .site-brand {
      color: $white;
    }

    .ph-cta {
      &__label {
        color: $white;
      }
    }
  }

  .button {
    margin-bottom: 0;
    font-weight: bold;
    padding-left: $x-large;
    padding-right: $x-large;

    &:not(.hollow) {
      color: $white;
    }
  }

  @include breakpoint(medium) {
    top: 0;
    left: 0;
    min-height: 107.29px;
  }

  @include breakpoint(medium down) {
    top: initial;
    bottom: 0;
    background: $accent-color;

    .site-brand {
      display: none;
    }

    .ph-cta {
      text-align: center;

      &__label {
        font-size: $normal;
        color: $white;
      }

      &__number {
        font-size: $large;
      }
    }

    .cell {
      text-align: center;
    }

    .button {
      padding: 0;
      font-size: $large;

      &:hover {
        background: initial;
      }
    }
  }
}

body.admin-bar {
  .landing-page-banner {
    @include breakpoint(medium) {
      top: 32px;
      left: 0;
    }

    @include breakpoint(medium down) {
      top: initial;
    }
  }
}
