.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.skip-link {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2rem;
  font-size: 1.44rem;
  background: $white;
  z-index: 300;

  &:not(:focus) {
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    left: -9999px;
  }
}
