html {
  box-sizing: border-box;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  overscroll-behavior: none;
  height: calc(100vh * 2);

  @include breakpoint(large) {
    font-size: 18px;
  }

  @include breakpoint(shmedium down) {
    font-size: 14px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.module {
  padding-top: $xx-jumbo;
  padding-bottom: $xx-jumbo;
  background-color: $body-background;
}
