html {
  box-sizing: border-box;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  overscroll-behavior: none;

  @include breakpoint(large) {
    font-size: 18px;
  }

  @include breakpoint(shmedium down) {
    font-size: 14px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.module {
  padding-top: $xx-jumbo;
  padding-bottom: $xx-jumbo;
  background-color: $body-background;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.1pt;
}

.svg-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100vw - 32px);
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 0;

  svg {
    display: block;
    width: auto;
    height: 100%;

    path {
      fill: $secondary-color;
    }
  }
}

body:not(.home) #main {
  margin-top: 91px;
}

.four-oh-four-container {
  min-height: calc(100vh - 204px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
